body {
  padding-top: 5rem;
}

.card {
  font-family: "Public Sans", sans-serif;
  border: 1px solid grey;
  border-radius: 5px;
  width: 25rem;
  margin: 0 auto;
  text-align: center;
  box-shadow: 1px 1px 2px lightgrey;
}

.card-header {
  background-color: #363a58;
}

.card-img img {
  width: 6rem;
  border-radius: 50%;
}
.card-header p {
  font-size: 14px;
  margin-bottom: 0.2rem;
}

.card-header p,
.card-header h2 {
  color: white;
}

.card-header h2 {
  text-shadow: 2px 2px 4px #000000;
}
.date {
  margin-bottom: 0rem;
}

.nums {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nums p {
  margin: 0.5rem 1rem;
  font-weight: bold;
}

.card-content {
  background-color: #fff;
}

.card-content p {
  margin-top: 1rem;
}
.btn {
  margin-top: 1.87rem;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: #fff;
  font-weight: 900;
  margin-bottom: 1rem;
  padding: 5px 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px lightgrey;
}
